{% extends '@App/base.html.twig' %}

{% block content %}
                <div class="catalogue">
                    <h1>{{ categoryItem.title }}</h1>
{% if categoryItem.categories|length %}
                    <div class="categories">
{% for subCategoryItem in categoryItem.categories %}
                        <a href="{{ path('categoryItem', {categoryName: subCategoryItem.name}) }}">
                            {{ subCategoryItem.title }}
                        </a>
{% endfor %}
                    </div>
{% endif %}
{% if productList|length %}
{% for productItem in productList %}
{% include '@App/Product/product.html.twig' with {productItem: productItem} %}
{% endfor %}
{% endif %}
                    <div class="clear"></div>
                </div>
{{ include('@App/pager.html.twig', {pager: pager}) }}
{% endblock %}